title {
  position: absolute;
  color: black;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.hero {
  position: relative;
  height: 300px;
  width: 100vw;
}

.hero img {
  width: 100vw;
  height: 300px;
  object-fit: cover;
}

.hero h1 {
  position: absolute;
  top: 120px;
  left: 50%;
  color: white;
  font-size: 3rem;
}
