@mixin flex-container(
  $flex-direction: column,
  $justify: flex-start,
  $align: center,
  $gap: 35px,
  $wrap: wrap
) {
  display: flex;
  flex-direction: $flex-direction;
  justify-content: $justify;
  align-items: $align;
  flex-wrap: $wrap;
}
