@import "../styles/variables";

.Content {
  display: flex;
  flex-direction: column;
  gap: 35px;

  &__title {
    color: $secondary-color;
    margin-top: 25px;
    margin-left: 40px;
  }

  &__cards {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    gap: 30px;
    margin-left: 40px;
  }

  button {
    width: 130px;
    height: 30px;
    border: 0;
    border-radius: 12px;
    font-weight: bold;
    cursor: pointer;
    background: $secondary-color;
    background: $active-color;
  }
}
